.classify {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 300px;
  height: 44px;
  .item {
    height: 24px;
    width: 36px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
    color: black;
    cursor: pointer;
    &:hover {
      background-color:rgb(245,245,245)
    }
  }
  .active {
    background-color: #333344;
    color: white;
    &:hover {
    background-color: #393949;
    color: white;
    }
  }
}


//container-item组件的样式
.content-item {
  height: 70px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  border: 1px solid rgb(188, 188, 188);
  box-sizing: border-box;
  margin-bottom: -1px;
  width: 800px;
  cursor: pointer;
  .avator {
    height: 50px;
    width: 50px;
    overflow: hidden;
    img {
      transform: translate(-10px, -10px);
      width: 70px;
      object-fit: fill;
    }
  }
  .content {
    height: 50px;
    margin-left: 10px;
    background-color: white;
    flex: 1;
    .title {
      line-height: 30px;
      font-size: 16px;
      color: #778077;
    }
    .detail {
      line-height: 20px;
      font-size: 12px;
      color: #999999;

      .share {
        background-color: #f5f5f5;
      }
      .user {
        color: rgb(119, 128, 135);
      }
    }
  }
  .counts {
    height: 50px;
    width: 70px;
    position: relative;
    .count {
      position: absolute;
      top: 17px;
      right: 5px;
      width: 36px;
      height: 16px;
      display: inline-block;
      background-color: #aab0c6;
      border-radius: 8px;
      color: #ffffff;
      font-size: 14px;
      text-align: center;
      vertical-align: center;
      font-weight: 600;
      line-height: 16px;
    }
  }
}
