.header {
  height: 44px;
  box-sizing: border-box;
  padding-left: 10px;
  xpadding: 10px;
  font-size: 14px;
  background-color: white;
  color: white;
  width: 800px;
}

.home {
  padding-top: 30px;
  min-width: 490px;
  max-width: 800px;
  position: relative;
  left: 0;
  right: 0;
  xmargin: auto;
}

